body {
  font-size: 13px;
  font-family: Roboto, sans-serif;
  width: 100%;
  height: 100%;
  color: #83a7a5;
  font-weight: 400; }

a {
  color: #ffffff; }

.container-fluid {
  padding: 0;
  margin: 0; }

.block1, .block2-1 {
  width: 100%;
  height: 660px;
  background-image: url("../img/background-main.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff; }

.bg-cover, .bg-cover2-1 {
  position: absolute;
  background-color: #2d6e70;
  opacity: 0.9;
  width: 100%;
  height: 660px; }

.text-header {
  color: #0f5f5c;
  font-size: 32px;
  font-weight: 300; }

.icon-header {
  color: #0f5f5c;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 1.5rem; }

.logo {
  font-size: 29px;
  font-weight: 700;
  line-height: 46.44px; }

.line {
  font-size: 20px;
  opacity: 0.2; }

.nav-link {
  font-size: 11px;
  font-weight: 400; }

.nav-link:hover {
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.35);
  color: white; }

.nohover:hover {
  color: white;
  text-decoration: none; }

.largeLine {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  opacity: 0.2; }

.Welcome {
  margin-top: 20%; }

.welcomeHeader {
  font-size: 38px;
  font-weight: 500;
  line-height: 21px; }

.welcomeText {
  font-size: 15px; 
  font-weight: 500px;}

.welcomeBtn {
  width: 186px;
  height: 50px;
  background-color: #6fb048;
  border: 0;
  border-radius: 3px;
  color: white; }

.welcomeBtn:hover {
  cursor: pointer;
  background-color: #34ce57; }

.small-line {
  width: 65px;
  height: 1px;
  background-color: #6fb048; }

.font15 {
  font-size: 15px; }

.block3 {
  width: 100%;
  height: 665px; }

.block3-bg {
  width: 100%;
  height: 100%;
  background-color: #eef1ec; }

.iphone-content {
  left: 166px;
  top: 43px; }

.img-container {
  margin-top: 2.7rem; }

.margin-25 {
  margin-top: 15%; }

.block4 {
  width: 100%;
  height: 680px; }

.block4-text {
  color: #83a7a5;
  font-family: 'Merriweather', serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 40px;
  margin-top: 236px; }

.valeria {
  color: #6fb048;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px; }

.small-text {
  font-size: 14px;
  line-height: 22px; }

.block5 {
  width: 100%;
  height: 505px;
  background-color: #eef1ec; }

.img-block5 {
  margin-top: 20%;
  width: 100%; }

.linehight-24 {
  line-height: 24px; }

.header-block5 {
  margin-top: 30%; }

.block6 {
  width: 100%;
  height: 1212px; }

.font-green {
  color: #6fb048; }

.price {
  color: #0f5f5c;
  font-family: 'Montserrat', sans-serif;
  font-size: 65px;
  font-weight: 400;
  line-height: 107.97px; }

.top-0 {
  top: 133px;
  left: 159px; }

.plan, .planactive {
  background-color: #83a7a5;
  color: white;
  width: 140px;
  height: 42px;
  border-radius: 2px; }

.planactive {
  background-color: #6fb048; }

.support {
  color: #0f5f5c;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px; }

.block7, .block7-2 {
  width: 100%;
  height: 200px;
  background-image: url("../img/footer.png");
  background-size: cover;
  background-repeat: no-repeat; }

.footer-header {
  color: #0f5f5c;
  font-size: 28px;
  font-weight: 300;
  line-height: 22px; }

.padding50 {
  padding-top: 7%; }

.footer-btn {
  margin-left: 18%;
  width: 285px;
  height: 42px;
  border-radius: 2px;
  background-color: #6fb048;
  Color: #ffffff;
  font-family: 'Monserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px; }

.block8 {
  width: 100%;
  height: 353px; }

.bottom-logo {
  color: #0f5f5c;
  font-size: 22px;
  font-weight: 700;
  line-height: 35.02px;
  text-transform: uppercase; }

.bottom-header, .bottom-text {
  color: #0f5f5c;
  font-size: 13px;
  font-weight: 500; }

.bottom-text {
  color: #83a7a5;
  font-weight: 400; }

.email {
  width: 241px;
  height: 36px;
  border-radius: 3px;
  background-color: #eef1ec;
  border: none; }

.telegram {
  top: 0;
  right: 15px; }

.grey {
  background-color: #000; }

.allrights {
  color: #83a7a5;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px; }

.block2-1 {
  background-image: url("../img/bg2-1.png"); }

.bg-cover2-1 {
  opacity: 0.7; }

.block7-2 {
  background-image: url("../img/footer2.png");
  color: white; }
  .block7-2 .footer-header {
    color: white; }
  .block7-2 .footer-btn {
    background-color: #49732f; }

/*# sourceMappingURL=sass.css.map */
