@media screen and (max-width: 1280px) {
    .block1__content {
        padding-left: 165px;
    }
    .block2__content {
        padding-left: 175px;
    }
    .block3__body__imgContainer {
        margin-left: 155px;
    }
    .block3__body__img__screenContent {
        left: 325px;
    }
    .block4__textBlock {
        margin-left: 145px;
    }
    .block4__imgBlock {
        margin-top: 145px;
    }
    .block5__imgBlock__img {
        width: 490px;
    }
    .block5__imgBlock {
        margin-top: 115px;
    }
    .block5__textBlock__header {
        font-size: 27px;
    }
    .block5__textBlock {
        margin-top: 143px;
        margin-left: 140px;
    }
}