.block1 {
    background-image: url("map.png");
    background-size: auto;
    height: 400px;
}
.block1__body__ordering {
    color: #83a7a5;
}
.block1__body__ordering__input {
    color: #83a7a5;
    font-size: 13px;
    padding-left: 15px;
    margin-top: 25px;
    width: 245px;
    height: 40px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid #c1d3d2;
}
.block1__body__ordering__inputMessage {
    height: 110px;
}
.block1__body__ordering__btn {
    width: 170px;
    height: 43px;
    border-radius: 2px;
    border: 0;
    background-color: #6fb048;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
}
.block1__body__ordering__border {
    width: 275px;
    height: 245px;
    border: 2px dashed #c1d3d2;
    background-color: #ffffff;
}
.block1__body__ordering__border__title {
    color: #0f5f5c;
    font-size: 20px;
}
.block1__body__ordering__border__address {
    font-size: 14px;
    font-weight: 500;
}
.block1__body__ordering__border__telephone {
    font-size: 14px;
    font-weight: 500;
}
.block1__body__ordering__border__email {
    font-size: 14px;
    color: #0f5f5c;
    font-weight: 500;
}